BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
DerivePointerAlignment: Left
PointerAlignment: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BreakBeforeBraces: Attach
# Cpp11BracedListStyle: true
SortIncludes: true
IncludeBlocks: Preserve
NamespaceIndentation: All
FixNamespaceComments: true
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false
AlignTrailingComments: Always
# PackArguments:
#   BinPack: OnePerLine
#   BreakAfter: 1
# PackParameters:
#   BinPack: OnePerLine
#   BreakAfter: 1
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
IndentWrappedFunctionNames: true
